/* Reader CSS */

	body, html, #reader {margin:0px; padding:0px; height:100%; width:100%; min-height:100%; background-color:#000; color:#fff;}
	
	a, a:link,a:active{
		color:#fff;
		text-decoration:none;
	}
	a:hover {
		color:#907ea9;
	}
	
	div#pageheader{
		position:fixed;
		top:0px;
		right:0px;
		background:none;
		padding:0px;
		text-align:right;
		font-family:arial;
		color:#ac9fab;
		z-index:2;
	}
	
	a#menubtn, a#menubtn:link{
		display:inline-block;
		margin-right:0px;
		background-color:rgba(237, 218, 239, 0.5);
		color:#000;
 	 	border-radius: 3px;
		font-family:'Bebas Neue';
		padding:5px 10px;
		font-size:15pt;
		text-decoration:none;
		cursor:default;
	}
	
	a#menubtn:hover{
		color:#ffde6c;
		background-color:#624156;
	}
	
	#menuframe{
		position:fixed;
		top:0;
		bottom:0;
		right:0;
		height:100%;
		max-width:100%;
		width:700px;
		border-left:1px solid #cdb7e6;
	}
	
	a.toggleMenu, a.toggleMenu:link{
		display:inline-block;
		text-align:center;
 	 	border-radius: 0px;
		font-family:'Bebas Neue';
		color:#393a65;
		margin:0px;
		padding:3px 3px 0px 3px;
		height:30px;
		font-size:15pt;
	  box-sizing:border-box;
	  -moz-box-sizing:border-box;
	  -webkit-box-sizing:border-box;
	  -ms-box-sizing:border-box;
    vertical-align:top;
	}

	a#menubtn2,a#menubtn2:link{
		/*  Hide menu button */
		width: 55px;
		background-color:#755798;
		color:#fff;
	}
	a#menubtn3,a#menubtn3:link{
		/*  project link */
		width: calc(100% - 205px);
		background-color:#755798;
		color:#fff;
	  white-space: nowrap;
	  text-overflow: ellipsis;
		overflow:hidden;
	}
	a#prevbtn, a#prevbtn:link, a#nextbtn, a#nextbtn:link{
		/* the prev/next buttons */
		width:45px;
		background-color:#e8ddf5;
	}
	.menuDropdown{
		display:inline-block;
		width:60px;
		background-color:#fff;
		/*border-bottom:2px dashed #cdb7e6;*/
    vertical-align:top;
	  white-space: nowrap;
	  text-overflow: ellipsis;
		overflow:hidden;
	}
	#menuDropdownItems {
		display: none;
		position: absolute;
		top: 100%;
		background-color: #fff;
		width:60px;
	}
	a#menubtn2:hover,a#menubtn2:focus,a#menubtn3:hover,a#menubtn3:focus, a#prevbtn:hover, a#prevbtn:focus, a#nextbtn:hover, a#nextbtn:focus{
		cursor:default;
		background-color:#f5c15b;
		color:#000;
	}
	
	
	.disablemenu{
		pointer-events:none;
		color:#898989 !important;
	}

	.dropdownToggle{
		display:block;
		text-align:center;
 	 	border-radius: 0px;
		font-family:'Bebas Neue';
		color:#393a65;
		margin:0px;
		padding:3px 0px 0px 0px;
		height:30px;
		font-size:15pt;
	  box-sizing:border-box;
	  -moz-box-sizing:border-box;
	  -webkit-box-sizing:border-box;
	  -ms-box-sizing:border-box;
		width:100%;
	  white-space: nowrap;
	  text-overflow: ellipsis;
		overflow:hidden;
		cursor:default;
	}
	
	ul.menuSelect{
		margin:0px;
		padding:0px;
		max-height:50vh;
		overflow-y:auto;
		border:1px solid #cccccc;
	}
	
	ul.menuSelect li {
		text-align:center;
		list-style-type: none;
		padding:2px 0px 2px 0px;
	}
	a.DDMenuItem, a.DDMenuItem:link {
		display:block;
		color:#000;
		text-decoration: none;
		width:100%;
		font-family: "Helvetica", sans-serif;
		font-size:13pt;
    vertical-align:top;
	  white-space: nowrap;
	  text-overflow: ellipsis;
		overflow:hidden;
		cursor:default;
	}
	ul.menuSelect li:hover,ul.menuSelect li:focus{
		background-color:#b9e3e6;
	}
	.DDMenuItemSelected{
		background-color:#c3c3c3;
	}
	.DDMenuItemSelected a, .DDMenuItemSelected a:link{
		color:#fff;
		cursor:default;
	}
	
	@media (pointer:coarse) {
		body{height:130%;}
	} 
	
	@media screen and (max-width: 400px){
		a#menubtn, a#menubtn:link, a.toggleMenu, a.toggleMenu:link, .dropdownToggle{
			font-size:13.5pt;
			padding-top:4px;
		}
		a.DDMenuItem, a.DDMenuItem:link{
			font-size:11pt
		}
	}