/* LOAD SELF HOSTED FONTS */


/* latin */
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/libraries/fonts/JTUSjIg69CK48gW7PXoo9WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Encode Sans Semi Condensed';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/libraries/fonts/3qT7oiKqnDuUtQUEHMoXcmspmy55SFWrXFRp9FTOG1Rl19FAZ9XCT0mq.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/libraries/fonts/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw5aXx-p7K4KLg.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/libraries/fonts/m8JVjfNVeKWVnh3QMuKkFcZVaUuH99GUDg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


:root{
	--background-color: #f5f5f5;
	--banner-image: url(images/background_1800x600.png);
	--text-color: #000000;
	--first-container-bg-color: #ffffff;
	--bold-color: #c80b8c;
	--italic-color: #2a0bc8;
	--header-color: #74418a;
	--header-two-color: #4b418a;
	--anchor-color: #523ba8;
	--anchor-hover-color: #db0043;
	--container-border: 3px dashed #ccb7e5;	
	--date-chapter-color: #585399;
	--comment-info-color: #9eabc3;
	--commentinfo-anchor-border: 1px solid #d0d0d0;
	--updatesnav-bg:rgba(255, 255, 255, 0.8);
	--updatesnav-anchor:#5e5e94;
	--toggle-mode-button-color: #8879d1;
	--toggle-mode-button-one: path("M16 0c-8.837 0-16 7.163-16 16s7.163 16 16 16 16-7.163 16-16-7.163-16-16-16zM4 16c0-6.627 5.373-12 12-12v24c-6.627 0-12-5.373-12-12z");
	--toggle-show-border:2px dotted #d1d1d1;
	--accent-hover-color: #fff88f;
	--accent-color: #47568f;
	--lighter-text-color:#ac9fab;
	--spoiler-color:#d5d5d5;
}

[data-theme="dark"] {
	--background-color: #221f29;
	--banner-image: url(images/background_1800x600_dark.png);
	--text-color: #b1afb3;
	--first-container-bg-color: #19181e;
	--bold-color: #f29fbd;
	--italic-color: #9c6a91;
	--header-color: #aba4c9;
	--header-two-color: #6a72b0;
	--anchor-color: #9281cf;
	--anchor-hover-color: #f29fbd;
	--container-border: 3px dashed #5e4f71;	
	--date-chapter-color: #a8a3db;
	--comment-info-color: #606877;
	--commentinfo-anchor-border: 1px solid #2b2a34;
	--updatesnav-bg:rgba(0, 0, 0, 0.8);
	--updatesnav-anchor:#8080ee;
	--toggle-mode-button-color: #d179c4;
	--toggle-mode-button-one: path("M16 32c8.837 0 16-7.163 16-16s-7.163-16-16-16-16 7.163-16 16 7.163 16 16 16zM28 16c0 6.627-5.373 12-12 12v-24c6.627 0 12 5.373 12 12z");
	--toggle-show-border:2px dotted #4f4f4f;
	--accent-hover-color: #9e3a72;
	--accent-color: #6178cf;
	--lighter-text-color:#675f66;
	--spoiler-color:#3b393f;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body,html{
	width:100%;
	height:100%;
	min-height:100%;
	margin:0px;
	background-color: var(--background-color);
	font-family:helvetica;
	font-size: 11pt;
	line-height:1.5em;
	color: var(--text-color);
}

img{
	width:100%;
	height:auto;
}

a, a:link, a:active, a:visited{
	text-decoration:none;cursor:default;
	color:var(--anchor-color);
	word-wrap: break-word;
}

a:hover {
	color: var(--anchor-hover-color);
}

strong {
	font-weight:bold;
	font-size:11pt;
	
}

i {
	color:var(--italic-color);
	font-style:italic;
	font-weight:bold;
}

b {
	color:var(--bold-color);
	text-decoration:none;
	font-weight:bold;
}

mark{
	color:#3a3a3a;
	background-color:yellow;
}

span.strikethrough {
	text-decoration: line-through;
	text-decoration-color: #c80b0b;
}

ul li {list-style-type:disc; margin-left:20px;padding-left:10px;}

ul { margin-bottom:20px;}

div.container{
	position:relative;
	max-width:100%;
	min-height:50%;
	height:auto;
	background-size:cover;
	background-position:top center;
	background-image:var(--banner-image);
}

div.title{
	align:center;
	position:absolute;
	bottom:25%;
	left: 50%;
	transform: translateX(-50%);
	width:auto;
	max-width:100%;
}


img.title{
	width:auto;
	height:auto;
	max-width:80%;
	min-width:250px;
}

p.titledescr{
	font-family:'times new roman';
	font-size:12pt;
	font-style:italic;
	text-align:center;
	margin:0px;
	color:#7e75ac;
}

div.topbar{
	width:100%;
	position:absolute;
	bottom:5%;
	left: 50%;
	transform: translateX(-50%);
}

.topbar a, .topbar a:link, .topbar a:visited{
	color:#fff;
	background-color:rgba(37, 32, 96, 0.4);
	text-decoration:none;
	display:inline-block;
	padding: 5px 10px;
	margin:0px;
	font-size:15pt;
	font-family:'Bebas Neue', sans-serif;
	font-weight:light;
	border-bottom:3px solid #e765c3;
 	border-radius: 5px;
}

.topbar a:hover, .topbar a:active{
	cursor: default;
	color:#d326b9;
	background-color:rgba(255, 255, 255, 0.4);
}

div.latestcontainer{
	height:auto;
	width:100%;
	background-color: var(--first-container-bg-color);
}

div.latestcontent{
	position:relative;
	min-height:100px;
	max-width:800px;
	left:50%;
	padding-top:20px;
	padding-bottom:20px;
	transform: translateX(-50%);
	width:95%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
}

.latestcontent h1{
	font-family: 'Montserrat', sans-serif;
	font-size:12pt;
}
/* Removed this from latest.html
.latestlink{
	font-family: 'Montserrat', sans-serif;
	font-size:10pt;
	text-align:right;
	width:94%;
}
*/

div.contentcontainer, div.contentcontainerprojects{
	min-height:100px;
	position:relative;
	left:50%;
	transform: translateX(-50%);
	width:95%;
	max-width:800px;
	padding:10px;
	border-top: var(--container-border);
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
}

div.subcontentcontainer{
	min-height:100px;
	position:relative;
	left:50%;
	transform: translateX(-50%);
	width:100%;
	max-width:800px;
	padding:10px 0px;
	border-top: var(--container-border);
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
}



div.footer{
	background-color: var(--first-container-bg-color);
	padding:10px;
	text-align:center;
	font-family:arial;
	color:var(--lighter-text-color);
	font-size:10pt;
}

.footer a{
	color:var(--lighter-text-color);
}

.footer a:hover{
	color:var(--anchor-hover-color);
}

h1{
	color:var(--header-color);
	font-size:25pt;
	margin:5px 0px 15px 0px;
	font-family:'Bebas Neue', sans-serif;
	line-height:0.8;
}

h2{
	color:var(--header-two-color);
	font-size:22pt;
	margin:10px 0px;
	font-family:'Bebas Neue', sans-serif;
	line-height:0.8;
}
h2 span{
	padding: 0 10px;
	font-size:13pt;
	font-family: BlinkMacSystemFont,'Segoi UI Symbol',system-ui;
	font-weight: 900;
  	vertical-align: middle;
	cursor:default;
}
h2 span:hover{
	color:var(--anchor-hover-color);
}


p{margin-bottom:20px;}

ol {
  line-height: 1.5em;
}

ol li {
  list-style-type: none;
  counter-increment: item;
	margin-bottom:15px;
	text-indent:-30px;
	padding-left:30px;
}

ol li:before {
  content: counter(item);
  display: inline-block;
	text-align:center;
	text-indent:0px;
  width: 18px;
  font-family: "Indie Flower", cursive;
  margin-right: 10px;
  background-color: #dedff6;
  color: #74418a;
  font-weight: bold;
  font-size: 12pt;
	padding-left:1px;
	padding-right:1px;
 	border-radius: 5px;
	border-bottom:2px solid #dedff6;
  line-height: 1.1;
}

div#seriescontainer{
	text-align:left;
}

div.projectouterwrap{
	background-color:var(--first-container-bg-color);
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
}

div.parentproject{
	width:98%;
	text-align:left;
}

div.projectwrap{
	position:relative;
	display:inline-block;
	width:33.3%;
	padding: 5px 0.7%;
	vertical-align:top;
	text-align:left;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
}

div.projectsnav {
	margin-bottom:20px;
}
.projectsnav a{
	font-family: "Bebas Neue", sans-serif;
	font-size:14pt;
}


#container{
    overflow: hidden;
    max-height:120px;
    position: relative;
}

#container.expanded{
    max-height:none;
}

.read-more{
    position: absolute;
    bottom:0px;
		border:0px;
		width:100%;
		background-color:var(--background-color);
		border-top:var(--toggle-show-border);
		margin:0px;
		color:#6b6b6b;
		font-family:"Bebas Neue", sans-serif;
		font-size:12pt;
		text-align:center;
}
.addpadding{
	width:100%;
	height:25px;
}




div.projectpagecover{
	width:100%;
	margin:0px;
	padding:0px;
}

.projectpagecover img{
	width:100%;
	margin:0px;
	padding:0px;
}

img.smallicons{
	width:20px;
	height:20px;
}

div.projectpageinfo{
	display:inline-block;
	text-align:left;
	width:100%;
	margin-bottom:10px;
	padding-right:10px;
	padding-left:10px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
	font-size:10pt;
	font-family:"Encode Sans Semi Condensed", sans-serif; 
}

.projectpageinfo span{
	display:block;
}

.projectwrap h1{
	margin:0px 0px 0px 5px !important;
	font-size:11pt;
	line-height:1.1;
	font-family: "Encode Sans Semi Condensed", sans-serif; 
	color:var(--text-color);
}

.projectwrap h1 span{
	padding-right:5px;
	font-size:12pt;
	line-height:1.1;
	font-style:normal;
	font-weight:normal;
	font-family: "Bebas Neue", sans-serif; 
	color:var(--date-chapter-color);
	word-break:break-all;
}

span.newupdate::before{
	content: 'new! ';
	position:relative;
	bottom:3px; 
	color:#d60000;
	font-size:10pt;
}

h1 span.adultclass, h1 span.normal, h1 span.adultclass a, h1 span.normal a {
	font:inherit;
	color:inherit;
}

h1 span a:hover{
	color:var(--anchor-hover-color);
}

h1 span.adultclass::before{
	content:'';
	background:url('/images/assets/adult.png');
	background-size:16px 16px;
	background-position:0px 0px;
	background-repeat:no-repeat;
	display:inline-block;
	height:16px;
	width:18px;
}

h1 span.normal::before{
	content:'';
	background:url('/images/assets/15r.png');
	background-size:16px 16px;
	background-position:0px 0px;
	background-repeat:no-repeat;
	display:inline-block;
	height:16px;
	width:18px;
}

div.latestentrywrap{
	display:inline-block;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
	margin:0px 0.75%;
  position: relative;
	width:23.5%;
	padding-top:23.5%;
	line-height:11px;
	font-size:10.5pt;
}

span.chapter a{
	margin:0px;
	padding:0px;
}

img.latestimg {
	-webkit-filter: grayscale(50%);
	-moz-filter: grayscale(50%);
	filter: grayscale(50%);
	transition: all 0.5s ease;
	opacity: 0.5;
	width:100%;
	height:auto;
	padding:0px;
	margin:0px;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
}

img.projectthumb {
	width:100%;
	height:auto;
}

img.latestimg:hover{
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	opacity: 1;
}

.latestentrywrap span.chapter{
  position: absolute;
  bottom:0;
  right:0;
	color:#fff;
	background-color:rgba(37, 32, 96, 0.4);
	font-family:'Bebas Neue', sans-serif;
	padding:5px;
	text-align:right;
}

.latestentrywrap span.date{
  position: absolute;
  top: 0px;
  left: 0px;
	color:#fff;
	background-color:rgba(37, 32, 96, 0.4);
	font-family:'Bebas Neue', sans-serif;
	padding:5px;
}


#updatestext{
	position:relative;
}
#updatestext span{
	position:absolute;
	right:0px;
	bottom:-5px;
	color:gray;
	font-size:9pt;
}

#updatesnav{
	position:sticky;
	bottom:0;
	right:0;
	text-align:center;
	font-family:'Bebas Neue', sans-serif;
	font-size:13pt;
	background-color:var(--updatesnav-bg);
}

#updatesnav a, #updatesnav a:link, #updatesnav a:visited{
	display:inline-block;
	padding:5px 0px 1px 0px;
	margin:0px 0px;
	width:30px;
	color:var(--updatesnav-anchor);
}

#updatesnav a:hover, #updatesnav a:active{
	background-color:#5757c1;
	color:#fff;
}

#updatesnav a.inactive{
	cursor: default;
	pointer-events:none;
	text-decoration:none;
	color:#a6a6a6;
}




#AlertContainer{
	display:none;
}

#imguralert {
	display:block;
  color: #856404;
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
	font-size:11pt;
	text-align:center;
	padding:2px;
	margin:0px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
}

.imgurchecker{
	position:absolute;
	width:1px;
	height:1px;
	top:0;
	left:0;
}






.CommentEntry{
	display:block;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
	background-color:var(--first-container-bg-color);
	border:var(--commentinfo-anchor-border);
	margin:10px 0px 0px 0px;
	padding:7px;
	border-radius: 4px;
	font-size:11pt;
}
.CommentEntryReply{
	display:block;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
	background-color:var(--first-container-bg-color);
	border:var(--commentinfo-anchor-border);
	margin:1px 0px 0px 15px;
	padding:7px;
	border-radius: 4px;
	font-size:11pt;
}
span.CommentName{
	display:block;
	font-weight:bold;
	color:var(--accent-color);
}
span.ReplyButton{
	float:right;
	color:var(--comment-info-color);
	font-size:9pt;
}
span#replyingmsg,span.CommentName span{
	color:var(--comment-info-color);
	font-size:9pt;
}

.CommentEntry span.CommentInfo, .CommentEntryReply span.CommentInfo{
	color:var(--comment-info-color);
	font-size:9pt;
}
div.CommentContent{
	margin:0px;
	padding:0px;
	word-wrap: break-word;
	max-width:100%;
	white-space: pre-wrap;
	position:relative;
	line-height: 1.3em;
}
.CommentContent b, .CommentContent strong{
	color:var(--text-color);
	font-size:inherit;
	font-weight:bold;
	text-decoration:none;
}
.CommentContent i, .CommentContent em{
	color:var(--text-color);
	font-size:inherit;
	font-weight:normal;
	font-style:italic;
	text-decoration:none;
}
.CommentContent u{
	color:var(--text-color);
	font-size:inherit;
	font-weight:normal;
	text-decoration:underline;
	position:relative;
}
.CommentContent .userimg{
	max-width: 100%;
	max-height: 290px;
	width:auto;
	height:auto;
}
.collapseComments{
	max-height:320px;
	overflow:hidden;
}
span.emoji{
	position:relative;
	display:inline-block;
	width:22px;
	height:22px;
	vertical-align:middle;
}
.emoji img.userimg{
	width:22px;
	height:22px;
	position:absolute;
	top:0px;
	left:0px;
}
a span.emoji{
	position:relative;
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:middle;
}
a .emoji img.userimg{
	width:16px;
	height:16px;
}
#spanMoreEmo{
	display:none;
}
a.moreEmo, a.moreEmo:link{
	display:none;
}

#framefindgif{
	z-index:2;
	border: 0;
	margin-top:5px;
	position:sticky;
	top:0px;
	left:0px;
	box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
	display:none;
}
.gifcontainer .input {
	width:100%;
  padding: 5px;
  margin: 0px;
  font-size: 16px;
  color: var(--accent-color);
  font-weight: 300;
  border: 0px;
	box-sizing: border-box;
	background-color:var(--first-container-bg-color);
}
.expandbar{
	position:absolute;
	bottom:0;
	border:0;
	width:100%;
	display:block;
	background-color:var(--first-container-bg-color);
	border-top:var(--toggle-show-border);
	margin:0px;
	color:#d1d1d1;
	text-align:center;
	z-index:2;
	opacity:0.95;
}

.downarrow{
  transform:rotate(90deg);
  width: 20px;
  height: 20px;
  display: block;
	margin:auto;
	font-family:"Montserrat", sans-serif;
	font-size:16pt;
	cursor:default;
}
.expandbar:hover{
	background-color:var(--accent-hover-color);
}

.md-spoiler {
	display:inline-block;
  background: var(--spoiler-color);
  border-radius: 3px;
  padding: 0px 0px;
}
 
.md-spoiler>* {
  z-index: -1;
  opacity: 0;
}
 
.md-unhidenspoiler>* {
  opacity: 1 !important;
  z-index: 1 !important;
}

.md-unhidenspoiler{
	background:transparent;
}

input#counter{
	display:inline;
	box-sizing:border-box;
	width:30px;
	border:0px;
	background-color:transparent;
	box-shadow:none;
	color:#6c6a90;
	font-size:inherit;
	margin:0px;
	padding:0px;
	text-align:center;
}
.counterspan{
	color:#8c8aa3;
	font-size:inherit;
	margin:0px;
	padding:0px;
}

button#sendcomment{
	position:absolute;
	right:0px;
	top:0px;
}

div.commentinfo{
	color:#8c8aa3;
	font-size:10pt;
	width: 100%;
	position:relative;
}
.commentinfo a{
	display:inline-block;
	background-color:var(--first-container-bg-color);
	border:var(--commentinfo-anchor-border);
	border-radius:2px;
	padding:0px 3px;
	margin-bottom:1px;
}
.appenditemwrap{
	width:calc(100% - 60px);
}
.help-tip {
  position: absolute;
  top: 25px;
  left: 135px;
  text-align: center;
  background-color: #29b6f6;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-size: 13px;
  line-height: 20px;
  cursor: default;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.help-tip:hover {
  cursor: pointer;
  background-color: #ccc;
}

.help-tip:before {
  content: '?';
  font-weight: 700;
  color: #fff;
}

.help-tip p {
  visibility: hidden;
  opacity: 0;
  text-align: left;
  background-color: #039be5;
  padding: 10px;
  width: calc(90vw - 150px);
	max-width:370px;
  position: absolute;
  border-radius: 4px;
  left: 0px;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  transform: scale(0.7);
  transform-origin: 100% 0%;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	z-index:3;
}

.help-tip:hover p, .help-tip:active p, .help-tip:focus p {
  cursor: default;
  visibility: visible;
  opacity: 1;
  transform: scale(1.0);
}
.help-tip p:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #039be5;
  left: 3px;
  top: -12px;
}
.toggleThemeWrap{
	position:relative;
}
.toggleThemeDiv{
	position:absolute;
	top:10px;
	right:20px;
	z-index:1;
}

#toggleThemeBtn{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: default;
	outline: inherit;
	width:25px;
	height:25px;
}
.icon path{
  fill: var(--toggle-mode-button-color);
  d: var(--toggle-mode-button-one);
	transition: d 1s;
}
::placeholder{
	color:var(--lighter-text-color);
}
img:-moz-loading, img:-moz-broken {
  opacity:0;
}

.commentIcon path, .lockIcon path{
	fill: var(--date-chapter-color);
}
svg.commentIcon{
	position:relative;
	width:auto;
	height:12px;
	padding:0px;
	top:1px;
	left:3px;
}
div.commentBtn{
	float:right;
	display:none;
	position:relative;
	margin:0px;
	padding:0px;
	height:auto;
	font-size:10pt;
	bottom:3px;
	right:0px;
}
.cmtcntClass{
	color: var(--date-chapter-color);
}

.chLockClass{
	position:relative;
}
svg.lockIcon{
	float:right;
	width:auto;
	height:12px;
	padding:0px 0px 0px 3px;
}


#scroll-btn {       
    opacity: 0;   
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #ef476f;
    position: fixed;
    bottom: 0;
    right: 5px;    
    border: 2px solid #fff;
    border-radius: 50%; 
    font: bold 20px monospace;       
    transition: opacity 0.5s, transform 0.5s;
}
#scroll-btn.show {      
    opacity: 1;  
    transition: opacity 1s, transform 1s;     
}


@media screen and (max-width: 660px){
			div.latestentrywrap{
				width:48.5%;
				padding-top:48.5%;
			}
			img.latestimg { width:100%;}
			div.projectwrap{ width:50%;}
}
@media screen and (max-width: 600px){
	.topbar a, .topbar a:link, .topbar a:visited{font-size: 13.5pt; padding:2px 6px}
}		
@media screen and (max-width: 400px){
			.topbar a, .topbar a:link, .topbar a:visited{font-size: 12pt; padding:2px 5px}
			#updatesnav a, #updatesnav a:link, #updatesnav a:visited{width:25px}
			.projectwrap h1 span {font-size:9.5pt !important;}
			h1 span.adultclass::before,h1 span.normal::before{background-size:13px 13px; height:13px; width:15px;}
			.projectwrap h1{margin:0px !important;font-size:9.5pt !important;}
			svg.commentIcon{
				height:11px;
				top:1px;
			}
			div.commentBtn{
				font-size:9pt;
			}
}		
@media screen and (max-width: 350px){
			.topbar a, .topbar a:link, .topbar a:visited{font-size: 11.5pt; padding:1px 3px}
}		
@media screen and (max-width: 320px){
			.topbar a, .topbar a:link, .topbar a:visited{font-size: 11pt; padding:1px 3px}
}		

@media (pointer:coarse) {
	img.latestimg{
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		filter: grayscale(0%);
		opacity: 0.8;
	}
	div.container{
		min-height:30%;
	}
	div.contentcontainerprojects{
		width:100%;
		padding:0px;
	}
	.contentcontainerprojects h1#projectheader,.contentcontainerprojects h2{
		padding:0px 5px;
	}
	.contentcontainerprojects#commentscontainer,.contentcontainerprojects div.projectsnav{
		padding:10px 5px;
	}
}	